html, body {
    margin: 0px;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: #000;
}
cite {
    color: #fff;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
cite a {
    color: #ffa;
}
img.asset {
    display: none;
}
